.contact_form_cont {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 300px;
    border: 1px solid black;
}

.contact_form_inp {
   width: 200px;
   margin-bottom: 20px;
}

.contact_form_btn {
    width: 100px;
    margin-top: 20px;
}